.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.gitattributes
LICENSE.txt
/.settings/
/.settings/*
/bin/
/bin/*
/db/
/db/*
/doc/
/doc/*
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
